.all {
    background: #353353;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    .language {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 15px;
        select {
            width: 4%;
            padding: 5px 10px;
            background: transparent;
            color: #d9d5d5;
            border-radius: 20px;
            font-size: 20px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            text-align: center;
            outline: none;
        }
    }

    .common-icon {
        font-size: 20px;
        color: white;
        &.work-icon {
            margin: 0 5px 0 0;
            color:rgb(249, 123, 139);
        }
        &.content-icon {
            opacity: 0.1;
            margin-right: 30px;
            &.ic-work {
                margin: 0;
                padding-right: 10px;
            }
        }
    }

    .header {
        margin-bottom: 40px;
        .parallax {
            padding: 0;
            height: 100vh;
            min-height: 100vh;
            width: 100%;
            img {
                overflow: hidden;
                vertical-align: middle;
                transform-style: preserve-3d;
                backface-visibility: hidden;
            }
            .header1 {
                // transform: translate3d(-27.93px, 7.38938px, 0px);
                position: relative;
                display: block;
                left: 3%;
                top: 60px;
            }
            .other-img {
                position: absolute;
                display: block;
            }
            .header2 {
                transform: translate3d(-19.54px, -0.71375px, 0px);
                left: 25%;
                top: 30%;
            } 
            .header3 {
                transform: translate3d(-28.53px, 14.5294px, 0px);
                left: 21%;
                bottom: 30%;
            }
            .header4 {
                transform: translate3d(-58.5px, 1.81875px, 0px);
                left: 17%;
                bottom: 10%;
            }
            .header5 {
                transform: translate3d(-19.38px, -2.35375px, 0px);
                left: 45%;
                top: 10%;
            }
            .header6 {
                transform: translate3d(-46.55px, -2.28437px, 0px);
                left: 40%;
                bottom: 10%;
            }
            .header7 {
                transform: translate3d(-38.68px, -30.7075px, 0px);
                top: 20%;
                right: 30%;
            }
            .header8 {
                transform: translate3d(-28.83px, -7.25063px, 0px);
                right: 30%;
                bottom: 20%
            }
            .header9 {
                transform: translate3d(-28.71px, -9.35063px, 0px);
                right: 10%;
                top: 10%;
            }
            .header10 {
                transform: translate3d(-19.5px, -14.5138px, 0px);
                top: 45%;
                right: 20%;
            }
            .header11 {
                transform: translate3d(-47.85px, -20.0844px, 0px);
                bottom: 10%;
                right: 10%;
            }
            .general-information {
                max-width: 900px;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                justify-content: center;
                display: flex;
                align-items: center;
                height: 100%;
                flex-direction: column;
                .section-img {
                    width: 20%;
                    img {
                        width: 100%;
                        width: 100%;
                        border-radius: 50%;
                        border: 5px solid #FFD15C;
                    }
                }
                .section-name {
                    margin-bottom: 20px;
                    h1 {
                        color: #FFF;
                        font-size: 36px;
                        margin-bottom: .5rem!important;
                        span {
                            color: #FF4C61;
                        }
                    }
                    p {
                        color: #FFF;
                        font-size: 16px;
                        margin: 0;
                    }
                }
                .icon-list {
                    max-width: 200px;
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
      
    .content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        &.content-work {
            flex-direction: column;
        }

        .about-me {
            margin-right: 20px;
        }

        .about-me, .education, .experience, .work-header, .abilities{
            display: flex;
            flex-direction: column;
            width: 50%;
            &.detail {
                width: 100% !important;
                text-align: center;
                margin-bottom: 30px;
            }
            .ab-title, .education-header  {
                margin-bottom: 30px;
            }
            .aboutme-img {
                content: "";
                display: block;
                height: 37px;
                position: absolute;
                width: 37px;
            }
            .education-img {
                content: "";
                display: block;
                height: 37px;
                position: absolute;
                width: 37px;
            }
            .education-title {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            .aboutme-title , .education-title, .work-title{
                margin: 0;
                position: relative;
                font-size: 30px;
                color: white;
                color: white;
                top: 14px;
                padding:0 20px;
            }
            .education-header {
                display: flex;
                justify-content: flex-end;
            }
            .content-detail {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                .section-content {
                    border: 1px solid#302f4e;
                    background:#302f4e;
                    padding: 20px;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    height: 90px;
                    .paragraph {
                        margin: 0;
                        color: white;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    .university-year {
                        font-size: 20px !important;
                    }
                    .section-btn {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        .experience , .abilities{
            width: 100% !important;
            .exp-header {
                margin-bottom: 30px;
            }
            .exp-all {
                width: 100% !important;
                display: flex;
                .exp-content {
                    width: 100% !important;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-between;
                    &.abilities-content {
                        background-color: #302f4e;
                        -webkit-box-shadow: 0 35px 20px #56556E;
                        -moz-box-shadow: 0 35px 20px #56556E;
                        box-shadow: 0 15px 20px #56556E;
                        -webkit-transform: rotate(-3deg);
                        -moz-transform: rotate(-3deg);
                        -o-transform: rotate(-3deg);
                        -ms-transform: rotate(-3deg);
                        transform: rotate(-3deg);
                        border-radius: 20px;
                    }
                    .section-experience , .section-abilities{
                        border-radius: 20px;
                        flex-direction: row;
                        width: 25%;
                        margin-bottom: 20px; 
                        padding: 24px; 
                        background-color: rgb(108, 108, 229) !important;
                        &.diffirent {
                            background-color: transparent !important;
                        }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            .section-exp {
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                &.section-abl {
                                    border-left: 5px solid #44D4B4;
                                    padding-left: 2px;
                                }
                                .exp-title , .abilities-title{
                                    margin: 0;
                                    font-size: 17px;
                                    width: 80%;
                                    color: white;
                                }
                                h6 {
                                    margin: 0;
                                    width: 50px;
                                    background-color: rgb(249, 215, 76);
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    height: 50px;
                                    color: white;
                                    font-weight: bold;
                                }
                            }
                            .exp-paragraph {
                                font-size: 13px;
                                line-height: 1.5;
                                color: white;
                            }
                        }
                    }
                    }
                }
            }
        }

        .works {
            margin-bottom: 50px;
            .courses-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .courses-content {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    p {
                        margin: 0;
                        color: white;
                        opacity: 0.7;
                    }
                }
            }

            .border {
                width: 200px;
                border-bottom: 3px solid #474361;
                margin: 0 auto;
                border-radius: 50px;
            }
    
            .map {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 50px;
                img {
                    position: absolute;
                }
            }
    
            .works-explain {
                position: relative;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                p {
                    margin: 0;
                    color: white;
                    opacity: 0.7;
                }
            }
    
            .works-description {
                display: flex;
                gap: 20px;
                position: relative;
                justify-content: center;
                align-items: center;
                padding: 50px 0;
                width: 100% !important;
            }
    
            //for a href in project
            .href-works {
                transition: .2s;
                text-decoration: none;
                color: white;
                font-weight: 700;
                font-size: 23px; 
                &.link {
                    font-size: 16px !important;
                    background: #FF4C60;
                    border: 1px solid #FF4C60;
                    border-radius: 30px;
                    padding: 12px 32px;
                    font-weight: 700;
                    transition: all 0.2s;
                }
            }
            .href-works:hover {
                color: #C7C7CF;
            }

            .section-link {
                position: relative;
                display: flex;
                width: 100%;
                justify-content: center;
            }
            .section-link-print {
                display: none;
            }
        }
    }
}

