<div class="all module">
    <div class="header">
        <div class="parallax">
            <img class="header1" src="assets/img/header/header1.svg" alt="header1" />
            <img class="header2 other-img" src="assets/img/header/header2.svg" alt="header2" />
            <img class="header3 other-img" src="assets/img/header/header3.svg" alt="header3" />
            <img class="header4 other-img" src="assets/img/header/header4.svg" alt="header4" />
            <img class="header5 other-img" src="assets/img/header/header5.svg" alt="header5" />
            <img class="header6 other-img" src="assets/img/header/header10.svg" alt="header6" />
            <img class="header7 other-img" src="assets/img/header/header7.svg" alt="header7" />
            <img class="header8 other-img" src="assets/img/header/header8.svg" alt="header8" />
            <img class="header9 other-img" src="assets/img/header/header9.svg" alt="header9" />
            <img class="header10 other-img" src="assets/img/header/header12.svg" alt="header10" />
            <img class="header11 other-img" src="assets/img/header/header11.svg" alt="header11" />
            <div class="general-information">
                <div class="section-img">
    
                </div>
                <div class="section-name">
                    <h1>Selin Öykü<span>.</span></h1>
                    <p>I'm a Front-end Developer</p>
                </div>
            </div>
        </div>
    
    </div>

</div>

