<div class="all module">
    <div class="header">
        <div class="parallax">
            <div>
                <img class="header1" src="assets/img/header/header1.svg" alt="header1" />
                <img class="header2 other-img" src="assets/img/header/header2.svg" alt="header2" />
                <img class="header3 other-img" src="assets/img/header/header3.svg" alt="header3" />
                <img class="header4 other-img" src="assets/img/header/header4.svg" alt="header4" />
                <img class="header5 other-img" src="assets/img/header/header5.svg" alt="header5" />
                <img class="header6 other-img" src="assets/img/header/header10.svg" alt="header6" />
                <img class="header7 other-img" src="assets/img/header/header7.svg" alt="header7" />
                <img class="header8 other-img" src="assets/img/header/header8.svg" alt="header8" />
                <img class="header9 other-img" src="assets/img/header/header9.svg" alt="header9" />
                <img class="header10 other-img" src="assets/img/header/header12.svg" alt="header10" />
                <img class="header11 other-img" src="assets/img/header/header11.svg" alt="header11" />
            </div>
            <div class="general-information">
                <div class="section-img">
                    <img src="assets/img/me.png" alt="me" />
                </div>
                <div class="section-name">
                    <h1>Selin Oyku<span>.</span></h1>
                    <p>I'm a Front-end Developer</p>
                </div>
                <div class="icon-list">
                    <a href="https://github.com/selinoykunergiz/" target="_blank">
                        <fa-icon class="common-icon" [icon]="['fab', 'github']"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/selinoykunergiz" target="_blank">
                        <fa-icon class="common-icon" [icon]="['fab', 'linkedin-in']"></fa-icon>
                    </a>
                    <a href="mailto:selinoykunergiz@gmail.com" target="_blank">
                        <fa-icon class="common-icon" [icon]="['fab', 'mailchimp']"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="about-me">
            <div>
                <img class="aboutme-img" src="assets/img/content/dots-bg-light.svg" alt="content" />
                <h2 class="aboutme-title">About Me</h2>
            </div>
            <div class="content-detail">
                <div class="icon">
                    <fa-icon class="common-icon content-icon" [icon]="faHome"></fa-icon>
                </div>
                <div class="section-content">
                    <p class="paragraph">I'm a front-end developer in Ankara, who turns designs into a product.</p>
                    <div class="section-btn">
                        <button class="btn btn-default">Download CV</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="education">
            <div>
                <img class="education-img" src="assets/img/content/dots-bg-light.svg" alt="content" />
                <h2 class="education-title">Education</h2>
            </div>
            <div class="content-detail">
                <div class="icon">
                    <fa-icon class="common-icon content-icon" [icon]="faUniversity"></fa-icon>
                </div>
                <div class="section-content">
                    <p class="paragraph university-year">2012 - 2017</p>
                    <p class="paragraph">Başkent University - Management Information Systems</p>
                </div>
            </div>
        </div>
    </div>

</div>

